/* 🌞 Modo Claro (Padrão) */
:root { 
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #5f687b;
    --accent-color: #0097b2;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
  
    --nav-color: #5f687b;
    --nav-hover-color: #0097b2;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #5f687b;
    --nav-dropdown-hover-color: #0097b2;
  }
  
  /* 🌙 Modo Escuro */
  .dark-mode {
    --background-color: #212121; /* Fundo principal */
    --default-color: #e0e0e0; /* Cor do texto */
    --heading-color: #ffffff; /* Cor dos títulos */
    --accent-color: #0097b2; /* Cor dos botões e links */
    --surface-color: #1e1e1e; /* Fundo dos cards e elementos */
    --contrast-color: #ffffff; /* Contraste para texto em elementos destacados */
  
    --nav-color: #e0e0e0;
    --nav-hover-color: #14eb83;
    --nav-mobile-background-color: #1e1e1e;
    --nav-dropdown-background-color: #252525;
    --nav-dropdown-color: #e0e0e0;
    --nav-dropdown-hover-color: #14eb83;
  }
  
  /* Aplica as cores no site */
  body {
    background-color: var(--background-color);
    color: var(--default-color);
    font-family: var(--default-font);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
  }
  
  

  #darkModeToggle {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    border: none;
    padding: 10px 10px;
    font-size: 12px;
   
    border-radius: 25px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Efeito ao passar o mouse */
  #darkModeToggle:hover {
    background-color: color-mix(in srgb, var(--accent-color), black 20%);
    transform: scale(1.05);
  }
  
  /* Modo escuro */
  .dark-mode #darkModeToggle {
    background-color: #252525;
    color: #ffffff;
  }
  
  /* Efeito no hover no modo escuro */
  .dark-mode #darkModeToggle:hover {
    background-color: #333333;
  }
  
  /* 🌞 Modo Claro (Padrão) */
.produto-container {
    display: flex;
    align-items: center;
    background: #FFFFFF; /* Fundo branco */
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 30px;
  }
  
  /* 🌙 Modo Escuro */
  .dark-mode .produto-container {
    background:  #212121; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro para contraste */
  }

  /* 🌙 Modo Escuro */
  .dark-mode #testimonials {
    background:  #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro para contraste */
  }
  
